@charset "UTF-8";

@media screen and (min-width: 668px) {

    .main{
        min-height: 100vh;
    }
    

    .container{
        flex-direction: row-reverse;
        min-width: 700px;
        max-height: 350px;
        transition: width 3s ease, height 3s ease;
        

    }

    .img__card{
        background-image: url("../../images/image-header-desktop.jpg");
        height: 100%;
        width: 100%;
        border-radius: 0px 10px 10px 0px;
    }

    .title{
        width: 80%;
        font-size: 1.9em;
        margin-top: 4%;
    }

    .texto{
        text-align: left;
        width: 70%;
    }

    .texto__2{
        width: 70%;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        margin-top: 7%;
        
    }
    















    
}